<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style>
        .setradius {
            border-radius: 10px;

            text-align: center;
        }

        .footerr {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
        }

        .gethover:hover {
            box-shadow: 0px 0px 10px 10px black;
        }
    </style>
</head>

<body ng-app="">
    <div data-role="page" id="pagehome">

        <div data-role="panel" id="myPanel">
            <h2>Menu</h2>

            <ul data-role="listview">

                <li><a href="#about" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a  " data-icon="home">About</a></li>
                <li><a href="#pageb" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a  " data-icon="arrow-r">Contact</a></li>
                 

            </ul>
        </div>

        <div data-role="header">
            <a href="#myPanel" data-transition="slide" data-role="button" data-icon="grid" data-iconpos="notext" data-theme="c" data-inline="true">Grid</a>
            <h1>Area Calculation</h1>

        </div>

        <div data-role="main" class="ui-content">

            <a href="#square" data-transition="slide" class=" ui-btn ui-shadow    setradius ui-btn-block"><img src="squar2.gif"><br> Square</a>
            <a href="#triangle" data-transition="slide" class="ui-btn ui-shadow   setradius"><img src="triangle2.gif"><br>Triangle</a>
            <a href="#rectangle" data-transition="slide" class="ui-btn ui-shadow  setradius"><img src="rectangle.gif"><br>Rectangle</a>
            <a href="#parallelogram" class="ui-btn ui-shadow data-transition="slide"   setradius ui-btn-block"><img src="parallel.gif"><br>Parallelogram</a>
            <a href="#trapezoid" data-transition="slide" class="ui-btn ui-shadow   setradius"><img src="trap.gif"><br>Trapezoid</a>
            <a href="#circle" data-transition="slide" class="ui-btn ui-shadow  setradius"><img src="circle.gif"><br>Circle</a>
            <a href="#ellipse" data-transition="slide" class="ui-btn ui-shadow    setradius ui-btn-block"><img src="ellipse.gif"><br> Ellipse</a>


        </div>

        <div data-role="footer" class="">
            <h1>Arier</h1>
        </div>
    </div>

    <div data-role="page" id="square">

        <div data-role="header">
            <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid">back</a>
            <h1>Area Calculation</h1>


        </div>
        <div data-role="main" class="ui-content">

            <div data-role="main" class="ui-content">
                Enter Width:
                <br>
                <input name="search" type="number" id="search" ng-model="num1" placeholder="enter number..."><br> Result:
                <br>
                <input type="number" readonly value="{{ num1 * num1 }}"><br>

            </div>

        </div>
        <div data-role="footer" class="footerr">
            <h1>Arier</h1>
        </div>
    </div>
    <div data-role="page" id="triangle">
        <div data-role="header">
            <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid">back</a>
            <h1>Area of Triangle</h1>


        </div>
        <div data-role="main" class="ui-content">


            Enter Base:
            <br>
            <input name="search" type="number" id="search" ng-model="num1" placeholder="enter number..."><br> Enter Height:
            <br>
            <input name="search" type="number" id="search" ng-model="num2" placeholder="enter number..."><br> Result:
            <input type="number" readonly value="{{ (1/2) * ( num1 * num2 ) }}"><br>
        </div>
        <div data-role="footer" class="footerr">
            <h1>Arier</h1>
        </div>
    </div>

    <div data-role="page" id="rectangle">
        <div data-role="header">
            <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid">back</a>
            <h1>Area of Rectangle</h1>


        </div>
        <div data-role="main" class="ui-content">


            Enter Width:
            <br>
            <input name="search" type="number" id="search" ng-model="num1" placeholder="enter number..."><br> Enter Height:
            <br>
            <input name="search" type="number" id="search" ng-model="num2" placeholder="enter number..."><br> Result:
            <input type="number" readonly value="{{   ( num1 * num2 ) }}"><br>
        </div>
        <div data-role="footer" class="footerr">
            <h1>Arier</h1>
        </div>
    </div>
    <div data-role="page" id="parallelogram">
        <div data-role="header">
            <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid">back</a>
            <h1>Area of Parallelogram</h1>
        </div>
        <div data-role="main" class="ui-content">


            Enter Base:
            <br>
            <input name="search" type="number" id="search" ng-model="num1" placeholder="enter number..."><br> Enter Height:
            <br>
            <input name="search" type="number" id="search" ng-model="num2" placeholder="enter number..."><br> Result:
            <input type="number" readonly value="{{   ( num1 * num2 ) }}"><br>
        </div>
        <div data-role="footer" class="footerr">
            <h1>Arier</h1>
        </div>
    </div>

   
    <div data-role="page" id="trapezoid">
        <div data-role="header">
            <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid">back</a>
            <h1>Area of Trapezoid</h1>


        </div>
        <div data-role="main" class="ui-content">


            Enter Big Floor:
            <br>
            <input name="search" type="number" id="search" ng-model="num1" placeholder="enter number..."><br> Enter Small
            Floor:
            <br>
            <input name="search" type="number" id="search" ng-model="num2" placeholder="enter number..."><br> Enter Height:
            <br>
            <input name="search" type="number" id="search" ng-model="num3" placeholder="enter number..."><br> Result:
            <input type="number" readonly value="{{  (1/2) * ( num1 + num2 ) * num3 }}"><br>
        </div>

        <div data-role="footer" class="footerr">
            <h1>Arier</h1>
        </div>
    </div>
    <div data-role="page" id="circle">
        <div data-role="header">
            <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-grid">back</a>
            <h1>Area of Circle</h1>


        </div>
        <div data-role="main" class="ui-content">


            Enter Base:
            <br>
            <input name="search" type="number" id="search" ng-model="num1" placeholder="enter radius...">
            <br> Result:
            <input type="number" readonly value="{{  3.14159265 * ( num1 * num1 )      }}"><br>
        </div>
        <div data-role="footer" class="footerr">
            <h1>Arier</h1>
        </div>
    </div>
    <div data-role="page" id="ellipse">
            <div data-role="header">
                <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-back">back</a>
                <h1>Area of Ellipse</h1>
    
    
            </div>
            <div data-role="main" class="ui-content">
    
    
                Enter Vertical:
                <br>
                <input name="search" type="number" id="search" ng-model="num1" placeholder="enter number...">
                <br>
                Enter Horizontal:
                <br>
                <input name="search" type="number" id="search" ng-model="num2" placeholder="enter number...">
                <br>
                Result:
                <input type="number" readonly value="{{  3.14159265 *  num1 * num2      }}"><br>
            </div>
            <div data-role="footer" class="footerr">
                <h1>Arier</h1>
            </div>
        </div>
        <div data-rold="page" id="about">
               
                   
                        
                <a href="#pagehome" data-transition="turn" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-back">back</a>
            <p>
                This App is useful for calculate the area of shape in mathemathic.
            </p>
                    
        </div>
</body>

</html>